<header>
  <div class="header-container">
    <div class="header-body">
      <div class="logo-container">
        <a href="./">
          <img class="main-logo" src="./assets/img/logo.png" alt="Main Logo"/>
        </a>
      </div>
      <div class="market-nav-container">
        <div class="market-nav">
          <div class="searchbar-container">
            <div class="searchbar">
              <input type="text" class="searchbar-text" placeholder="Search">
              <button type="submit" class="searchbar-button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <ul class="market-nav-link-list">
            <li>
              <a href="#">My Account</a>
            </li>
            <li>
              <a href="#">Wish List</a>
            </li>
            <li>
              <a href="#">Shopping Cart</a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="personal-nav-container">
        <div class="personal-nav">
          <a href="#" class="my-account"><i class="fa fa-user"></i></a>
          <div id="cart-block">
            <div id="cart-heading">
              <i id="cart-count"><span id="total-count">{{getTotalCount()}}</span></i>
              <a href="#" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a>
              <p><span id="total-price">${{getTotalPrice()}}</span></p>
            </div>
            <div id="cart-content">
              <div id="cart-content-ajax">
                <div class="empty">Your shopping cart is empty!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu-container">
      <div class="menu">
        <div class="menu-head">
          <p>Navigation</p>
          <a href="javascript:void(0);" class="icon" (click)="openCloseCategories($event)">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <ul class="product-categories" [class.hidden]="!isCategoriesOpen">
          <li *ngFor="let productCategory of productCategories | sort: 'name'">
            <a href="./categories?selected={{productCategory.id}}">{{productCategory.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
