.product-block .product-categories {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow-x: scroll;
}

.product-block .product-categories-item {
    margin: 0 5px;
    white-space: nowrap;
}

.product-block .product-categories::-webkit-scrollbar {
    display: none;
}

.mat-button-toggle {
    background-color: #e0e0e0;
}

.mat-button-toggle-checked {
    background-color: #acacac;
}

.product-items {
    display: flex;
    flex-wrap: wrap;
}

.filtered-items .product-item {
    width: calc(33.333% - 50px);
}

.main-items .product-item {
    width: calc(25% - 50px);
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 5px;
    box-shadow: 2px 2px 5px gray;
}

@media (max-width: 576px) {
    .main-items .product-item,
    .filtered-items .product-item {
        width: calc(100% - 50px);
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .main-items .product-item,
    .filtered-items .product-item {
        width: calc(50% - 50px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-items .product-item {
        width: calc(33.333% - 50px);
    }

    .filtered-items .product-item {
        width: calc(50% - 50px);
    }
}
