.product-image {
    width: 100%;
    height: min(70vh, 250px);
}

.product-info {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-rating {
    margin-right: 20px;
}

.product-name {
    height: 40px;
    overflow-x: hidden;
}

.product-name::-webkit-scrollbar {
    display: none;
}

.product-responses {
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    line-height: 0;
}

.product-comments > .comment {
    margin-right: 5px;
}

.product-price {
    font-size: 2.25em;
    font-weight: 600;
}

.product-actions {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.product-comments .fa-comment {
    color: black;
    margin-right: 5px;
}

.product-comments > * {
    position: relative;
    top: calc((100% - 16px) / 2);
}

a.comment,
a.comment:hover,
a.comment:visited,
a.comment:active {
    color: black;
}

@media (max-width: 468px) {
    .product-price {
        font-size: 1.75em;
    }
}

@media (max-width: 576px) {
    .product-image {
        width: 100%;
        height: auto;
    }
}
